
.vs/cinema/FileContentIndex/5cba1a2d-caf4-4ef8-ab68-2bbe91a3fecb.vsidx
.vs/cinema/v17/.suo
.vs/cinema/v17/.wsuo
.vs/cinema/v17/Browse.VC.db-shm
.vs/cinema/v17/Browse.VC.db
.vs/cinema/v17/Browse.VC.db-wal
.vs/cinema/v17/Browse.VC.opendb
.vs/cinema/v17/DocumentLayout.backup.json
.vs/cinema/v17/ipch/AutoPCH/6a5e8431deb227e7/CINEMA.ipch
.vs/cinema/v17/DocumentLayout.json
